body {
	background-color: #b1c2c7;
	font: 16px 'Roboto Condensed', sans-serif;
}

button, input, select, textarea {
	font: inherit;
}



.connection-status {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	padding: 0.5em;
	opacity: 0.5;
	color: white;
}
.connection-status.online {
	background-color: #0f0;
}
.connection-status.offline {
	background-color: #f00;
}
.connection-status.connecting {
	background-color: #831;
}
.connection-status.server-down {
	background-color: #f00;
}




.shopping-list-area {
	overflow: auto;
}

.shopping-list {
	padding: 0;
	font-size: 1.2rem;
}

.shopping-list-item {
	display: flex;
	list-style-type: none;
	padding: 0.2em;
	margin-bottom: 0.2em;
	background-color: #fff;
	align-items: center;
	transition: height .4s linear .3s, 
				padding .1s linear .3s, 
				margin .1s linear .3s,
				width .2s linear,
				transform .2s linear;
	height: 2em;
}
.shopping-list-item.delete {
	height: 0;
	padding: 0;
	margin: 0;
	transform: translate(100%, 0);
}

.shopping-list-item.local {
	color: #1234f3;
}

.shopping-list-item label {
	cursor: pointer;
	margin-right: 0.5rem;
	color: rgba(0,0,0,0.1);
	font-size: 0.8em;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shopping-list-item input:focus + label {
	/*outline: 2px solid blue;*/
}
.shopping-list-item input:checked + label {
	color: #fff;
	font-size: 1.2em;
	background-color: #a6de39;
	border-radius: 50%;
}
.shopping-list-item input {
	opacity: 0;
	margin: 0;
	width: 0;
	height: 0;
}

.shopping-list-item .name {
	flex: 1;
}

.shopping-list-item .delete-button {
	
}