body {
	background-color: #d6d8c4;
}

button, input, select, textarea {
	font: inherit;
}




.connection-status {
	position: fixed;
	top: 0;
	right: 0;
}
.connection-status.online {
	background-color: #0f0;
}
.connection-status.offline {
	background-color: #f00;
}
.connection-status.connecting {
	background-color: #831;
}
.connection-status.server-down {
	background-color: #f00;
}




.shopping-list-area {
	overflow: auto;
}

.shopping-list {
	padding: 0;
}

.shopping-list-item {
	list-style-type: none;
}

.shopping-list-item label {
	display: block;
	padding: 0.5em;
	border: 1px solid #ddd;
}