body {
	background-color: #b1c2c7;
	font: 16px sans-serif;
	margin: 0;
	color: #444;
}

button, input, select, textarea {
	font: inherit;
}



header {
	background-color: white;
	display: flex;
	padding: 0.5em 1em;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 0.3em 0.7em rgba(0,0,0,0.2);
}

h1 {
	margin: 0;
	display: flex;
	align-items: center;
	color: #417c8e;
	cursor: pointer;
}

h1 .icon-cart {
	height: 1.7rem;
	width: 1.7rem;
	fill: #417c8e;
	margin-right: 0.2em;
}



.icon {
	width: 2rem;
	height: 2rem;
}


.connection-status {
	fill: #aaa;
}



.shopping-list-area {
	margin: 5rem auto 5rem auto;
	max-width: 40em;
}

.shopping-list {
	padding: 0;
	margin: 1em 0 1em 1em;
}



.shopping-list-item {
	display: flex;
	list-style-type: none;
	padding: 0.25rem;
	margin-bottom: 0.2rem;
	background-color: #f2fafb;
	align-items: center;
	border-radius: 3rem 0 0 3rem;
	font-size: 1.2em;
	height: 2.3rem;
	opacity: 1;

	transition: opacity 0.5s ease-out 0.3s,
				transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s,
				height 0.2s ease-out,
				margin 0.2s ease-out,
				padding 0.2s ease-out;
}


.shopping-list-item.checked {
	background-color: #d4dee0;
	color: #8fa3a7;
}

.shopping-list-item.delete {
	transition: transform 0.3s ease-in,
				opacity 0.3s linear,
				height 0.5s ease-out 0.4s,
				margin 0.5s ease-out 0.4s,
				padding 0.5s ease-out 0.4s;
	transform: translate(10em, 0);
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
}

.shopping-list-item.newborn {
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	transform: translate(-10em, 0);
}

.button-check-item {
	border: 0;
	background-color: #d5ddde;
	display: flex;
	padding: 0.2rem;
	fill: #859ca2;
	border-radius: 50%;
	margin-right: 0.6em;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.button-check-item:hover {
	/*background-color: #fff;*/
}

.button-check-item:focus {
	outline: none;
}

.button-check-item .icon-check {
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.25rem;
}

.checked .button-check-item {
	fill: #fff;
	background-color: #8dd299;
}


.shopping-list-item .name {
	flex: 1;
}


.button-delete-item {
	border: 0;
	background-color: transparent;
	display: flex;
	padding: 0;
	fill: #859ca2;
	cursor: pointer;
}

.button-delete-item:hover {
	fill: #000;
}






.button-new-item {
	border-radius: 50%;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background-color: #cc6498;
	border: 0;
	cursor: pointer;
	padding: 1em;
	display: flex;
	fill: #f7e0f3;
	box-shadow: 0 0.3em 0.7em rgba(0,0,0,0.2);
}

.button-new-item:hover {
	background-color: #ef5fd5;
	fill: #fff;
}












.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-window {
	background-color: white;
}