
.shopping-list-area {
	overflow: auto;
}

.shopping-list {
	padding: 0;
}

.shopping-list-item {
	list-style-type: none;
}

.shopping-list-item label {
	display: block;
	padding: 0.5em;
	border: 1px solid #ddd;
}